@charset "UTF-8";
.npc {
  align-content: flex-start;
}
.npc.ctrl-modified .modifiable {
  background-color: rgba(0, 0, 139, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 139, 0.25);
}
.npc.shift-modified .modifiable {
  background-color: rgba(0, 100, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 100, 0, 0.25);
}
.npc > div {
  height: min-content;
  margin-bottom: 5px;
}
.npc input {
  border-radius: 0;
}
.npc .portrait {
  width: 150px;
  height: 150px;
}
.npc .portrait img {
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.npc .npc-checkbox {
  width: 2em;
  text-align: center;
}
.npc .npc-checkbox input[type=checkbox] {
  display: none;
}
.npc .npc-checkbox label {
  color: gray;
}
.npc .npc-checkbox input:checked + label {
  color: red;
}
.npc .npc-section-label {
  font-size: 1.25em;
  font-weight: bold;
}
.npc .npc-header {
  height: 150px;
  width: calc(100% - 155px);
  margin-left: 5px;
}
.npc .npc-header h1 {
  display: flex;
}
.npc .npc-header h1 > input[type=text] {
  flex: 1 1;
}
.npc .npc-header h1 > .npc-checkbox {
  flex: 0 0 min-content;
  margin-left: 10px;
  font-size: 20px;
}
.npc .npc-header .npc-bio {
  display: flex;
  height: 114px;
}
.npc .npc-header .npc-bio .npc-bio-text {
  flex: 1;
  height: calc(100% - 1.5em);
}
.npc .npc-header .npc-bio .npc-bio-text > textarea {
  resize: none;
  height: 100%;
}
.npc .npc-header .npc-bio .artha-points {
  flex: 0 0 9em;
  place-content: space-evenly;
}
.npc .npc-header .npc-bio .artha-points div {
  background-color: transparent;
}
.npc .npc-header .npc-bio .artha-points:hover {
  background-color: transparent;
}
.npc .npc-header .npc-bio .artha-points .artha-label {
  font-size: 0.75em;
  display: block;
  width: 3em;
  text-align: center;
}
.npc .npc-header .npc-bio .artha-points .artha-input {
  border: 2px inset black;
  border-bottom-color: grey;
  border-right-color: grey;
  border-radius: 0.75em;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.5em;
  text-align: center;
  -moz-appearance: textfield;
}
.npc .npc-header .npc-bio .artha-points .artha-input::-webkit-outer-spin-button, .npc .npc-header .npc-bio .artha-points .artha-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.npc .npc-header .npc-bio .artha-points .artha-input:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.npc .npc-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  text-align: center;
  font-size: 1.25em;
}
.npc .npc-stats .stat-header {
  font-weight: bold;
  border-bottom: 1px solid black;
}
.npc .npc-stats .stat-value {
  text-align: center;
}
.npc .npc-stats .stat-value input {
  display: inline-block;
  -moz-appearance: textfield;
  text-align: center;
  width: 1.5em;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid black;
}
.npc .npc-stats .stat-value input::-webkit-outer-spin-button, .npc .npc-stats .stat-value input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.npc .npc-stats .stat-value select {
  display: inline-block;
  /* remove dropdown triangle for IE-10 */
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  border: 0;
  text-align-last: center;
  width: 1.5em;
  border: 1px solid black;
  border-radius: 0;
}
.npc .npc-stats .stat-value select::-ms-expand {
  display: none;
}
.npc .npc-stats .stat-value.stat-rollable:hover {
  color: red;
}
.npc .npc-ptgs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.npc .npc-ptgs input[type=number] {
  width: 1.25em;
  height: 30px;
  background-color: transparent;
  font-size: 1em;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  -moz-appearance: textfield;
}
.npc .npc-ptgs input[type=number]::-webkit-outer-spin-button, .npc .npc-ptgs input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.npc .npc-ptgs .ptgs-header {
  grid-row: 1/3;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
}
.npc .npc-ptgs .ptgs-header .ptgs-subheader {
  line-height: 1em;
  font-size: 0.75em;
  font-weight: normal;
}
.npc .npc-ptgs .ptgs-category {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.1);
}
.npc .npc-ptgs .ptgs-category select {
  display: inline-block;
  /* remove dropdown triangle for IE-10 */
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  border: 0;
  text-align-last: center;
  width: 2em;
  border: 1px solid black;
  border-radius: 0;
}
.npc .npc-ptgs .ptgs-category select::-ms-expand {
  display: none;
}
.npc .npc-ptgs .ptgs-category select {
  height: 26px;
}
.npc .npc-ptgs .ptgs-input > input[type=number] {
  font-size: 1.25em;
}
.npc .npc-ptgs .ptgs-input, .npc .npc-ptgs .ptgs-category, .npc .npc-ptgs .ptgs-header {
  text-align: center;
  border: 1px solid black;
}
.npc .indented-section {
  height: min-content;
  margin-left: 20px;
  widtH: 100%;
}
.npc .indented-section .npc-section-label {
  margin-left: -20px;
}
.npc .indented-section .npc-section-label:after {
  content: "—";
}
.npc .indented-section .item-entry {
  font-size: 1.125em;
  margin-left: 5px;
}
.npc .indented-section .item-entry:hover {
  color: red;
}
.npc .indented-section .item-entry:after {
  content: ",";
}
.npc .indented-section .item-entry:last-child:after {
  content: "";
}
.npc .indented-section .item-entry.wide {
  min-width: 80%;
}
.npc .indented-section .item-entry.wound-disabled {
  color: rgba(80, 0, 0, 0.8);
  pointer-events: none;
  font-style: italic;
}
.npc .indented-section span.item-entry {
  display: inline;
  margin-left: 0;
  margin-right: 5px;
}
.npc .bits-section {
  display: grid;
  grid-template-columns: 80px 100px 1fr;
  width: 100%;
}
.npc .bits-section > .npc-section-label {
  grid-column: 1;
}
.npc .bits-section > .bits-name {
  grid-column: 2;
}
.npc .bits-section > input {
  grid-column: 3;
}
.npc .editable-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.npc .editable-section > .npc-editable {
  font-size: 1em;
  border-radius: 0.75em;
  border: 2px groove #f0f0e0;
  background-color: rgba(0, 0, 0, 0.15);
  line-height: 1.5em;
  padding: 0 0.5em;
  text-align: center;
  height: min-content;
}
.npc .editable-section > .npc-editable:active {
  background-color: rgba(0, 0, 0, 0.25);
}
.npc .skill-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.npc .skill-section > .npc-editable {
  font-size: 1em;
  border-radius: 0.75em;
  border: 2px groove #f0f0e0;
  background-color: rgba(0, 0, 0, 0.15);
  line-height: 1.5em;
  padding: 0 0.5em;
  text-align: center;
  height: min-content;
}
.npc .skill-section > .npc-editable:active {
  background-color: rgba(0, 0, 0, 0.25);
}
.npc .skill-section > .npc-editable > .npc-skill-name {
  flex: 1 1;
}
.npc .skill-section > .npc-editable.wound-disabled > .npc-skill-name {
  color: #800;
}
.npc .skill-section > .npc-editable input[type=number] {
  -moz-appearance: textfield;
  flex: 0 0 1.5em;
  height: 1.5em;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  border-radius: 0;
}
.npc .skill-section > .npc-editable input[type=number]::-webkit-outer-spin-button, .npc .skill-section > .npc-editable input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.npc .skill-section > .npc-editable select {
  /* remove dropdown triangle for IE-10 */
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  border: 0;
  flex: 0 0 1.5em;
  height: 1.5em;
  border: 1px solid black;
  margin-left: 3px;
  border-radius: 0;
  text-align-last: center;
  font-size: 14px;
}
.npc .skill-section > .npc-editable select::-ms-expand {
  display: none;
}
.npc .skill-section > .npc-editable i {
  flex: 0 0 15px;
  margin-top: 3px;
}
.npc .weapon-section, .npc .spell-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.npc .weapon-section > .npc-editable, .npc .spell-section > .npc-editable {
  display: grid;
  grid-template-columns: 2fr 1fr 1em;
  font-size: 1em;
  border-radius: 0.75em;
  border: 2px groove #f0f0e0;
  background-color: rgba(0, 0, 0, 0.15);
  line-height: 1.5em;
  padding: 0 0.5em;
  text-align: center;
  height: min-content;
}
.npc .weapon-section > .npc-editable:active, .npc .spell-section > .npc-editable:active {
  background-color: rgba(0, 0, 0, 0.25);
}
.npc .weapon-section > .npc-editable > .npc-weapon-name, .npc .weapon-section > .npc-editable > .npc-spell-name, .npc .spell-section > .npc-editable > .npc-weapon-name, .npc .spell-section > .npc-editable > .npc-spell-name {
  width: 100%;
}
.npc .weapon-section > .npc-editable select, .npc .spell-section > .npc-editable select {
  /* remove dropdown triangle for IE-10 */
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  border: 0;
  margin-left: 3px;
  text-align-last: center;
  height: 1.5em;
}
.npc .weapon-section > .npc-editable select::-ms-expand, .npc .spell-section > .npc-editable select::-ms-expand {
  display: none;
}
.npc .weapon-section > .npc-editable > i, .npc .spell-section > .npc-editable > i {
  margin-top: 3px;
}