<div id="pool-panel">
    <div> OK!</div>


      <div class="dice-increase-button" title="Increase Dice Count">
        <i class="fas fa-plus"></i>
        <div>{{numDice}}</div>
      </div>


</div>